{% extends 'layout.html' %}

{% block styles %}
<style>
  /* Style for active page */
  .nav-item.active {
    font-weight: bold;
  }

  /* Card Styling */
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
  }

  .card-link+.card-link {
    margin-left: 0;
    /* turn off margin */
  }

  /* Button Styling */
  button label {
    margin: 0;
  }
</style>
<link href="{{ url_for('static', filename='css/sign-in.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid mt-3">
  <main class="form-signin w-100 m-auto">

    <form method="POST" action="/login">
      {{ form.hidden_tag() }}
      <img class="mb-4 mx-auto d-block" src="{{ url_for('static', filename='icons/weighing-scale.png') }}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      </form>
  </main>
  <h1>Tracker Page!</h1>
  <div class="row">
    <div class="col-md-8">
      <form method="POST" action="{{ url_for('entries.entry_index') }}">
        {{ form.csrf_token }}
        <div class="form-group">
          <label for="{{ form.date.id }}" class="form-label">Date</label>
          {{ form.date(class="form-control form-control-lg") }}
        </div>
        {% for error in form.date.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.time_of_day.id }}" class="form-label">Time of Day</label>
          {{ form.time_of_day(class="form-control form-control-lg") }}
        </div>
        {% for error in form.time_of_day.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.mood.id }}" class="form-label">Mood</label>
          {{ form.mood(class="form-control form-control-lg") }}
        </div>
        {% for error in form.mood.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.status.id }}" class="form-label">Status</label>
          {{ form.status(class="form-control form-control-lg") }}
        </div>
        {% for error in form.status.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.weight.id }}" class="form-label">{{ form.weight.label }}</label>
          {{ form.weight(class="form-control form-control-lg") }}
        </div>
        {% for error in form.weight.errors %}
        <div class="alert alert-danger">
          WEIGHT {{ error }} {{ form.weight.data }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.measurement_waist.id }}" class="form-label">Waist Measurement</label>
          {{ form.measurement_waist(class="form-control form-control-lg") }}
        </div>
        {% for error in form.measurement_waist.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.keto.id }}" class="form-label">Ketosis Level</label>
          {{ form.keto(class="form-control form-control-lg") }}
        </div>
        {% for error in form.keto.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        {{ form.submit(class="btn btn-outline-info") }}
      </form>
    </div>
    <div class="col-md-4">
      <div class="d-flex flex-column">
        {% for entry in entries %}
        <a href="{{ url_for('entries.get_entry', entry_id=entry.id) }}" class="card-link">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ entry.date.date() }} - {{ entry.time_of_day|capitalize }}</h5>
              <p class="card-text">Weight: {{ entry.weight }}</p>
              <p class="card-text">Ketosis Level: {{ entry.keto }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}