{% extends 'layouts/layout.html' %}

{% block styles %}
<style>
    /* Style for active page */
    .nav-item.active {
        font-weight: bold;
    }

    /* Card Styling */
    .card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }

    .card:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-5px);
    }

    /* Button Styling */
    button label {
        margin: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">mail_outline</i>
              </div>
              <h4 class="card-title">Stacked Form!!!!</h4>
            </div>
            <div class="card-body ">
              <form method="#" action="#">
                <div class="form-group">
                  <label for="exampleEmail" class="bmd-label-floating">Email Address</label>
                  <input type="email" class="form-control" id="exampleEmail">
                </div>
                <div class="form-group">
                  <label for="examplePass" class="bmd-label-floating">Password</label>
                  <input type="password" class="form-control" id="examplePass">
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value=""> Subscribe to newsletter
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </form>
            </div>
            <div class="card-footer ">
              <button type="submit" class="btn btn-fill btn-rose">Submit</button>
            </div>
          </div>
    </div>
</div>
    <div class="row">
        ?????
        <div class="col-md-12">
            PPPPPP
            <div class="d-flex flex-column">
                <div class="card mb-12">
                    <div class="card-body">
                        ??#@$#$#$#$#$   
                        <h5 class="card-title">Entry Dated: {{ entry.date.date() }} @ {{ entry.time_of_day }}</h5>
                        <p class="card-text">Mood: {{ entry.mood }}</p>
                        <p class="card-text">Status: {{ entry.status }}</p>
                        <p class="card-text">Weight: {{ entry.weight }}</p>
                        <p class="card-text">Waist Measurement: {{ entry.measurement_waist }}</p>
                        <p class="card-text">Ketosis Level: {{ entry.keto }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div class="d-flex">
                            <button type="button" class="btn btn-secondary mr-2" disabled>Previous</button>
                            <button type="button" class="btn btn-secondary" disabled>Next</button>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex justify-content-center">
                            </div>
                            <form method="POST">
                                <button class="btn btn-lg btn-primary ml-auto mr-2" type="submit" formmethod="GET"
                                    formaction="{{ url_for('entries.update_entry', entry_id=entry.id) }}">Update</button>
                                    <button class="btn btn-lg btn-secondary ml-auto mr-2" type="submit" formmethod="GET"
                                    formaction="{{ url_for('entries.entry_index') }}">Cancel</button>
                                <button class="btn btn-lg btn-danger ml-auto mr-2" type="submit"
                                    formaction="{{ url_for('entries.delete_entry', entry_id=entry.id) }}">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}