.greedy-card {
  width: 95%;
  display: flex;
}

.card-body {
  align-items: center;
  text-align: center;

}

.card-body-block {
  display: block;
  text-align: center;
}


.card-body {
  margin-top: 20px;
  height: 40%;
  /* adjust as needed */
}

.card-body-no-flex-popo {
  display: block;
}

.card-account-title {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
