{% extends 'layout.html' %}

{% block styles %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
{% endblock%}


{% block content %}

<div class="container">
  <div class="py-5 text-center">
    <img class="mb-4 mx-auto d-block" src="{{ url_for('static', filename='icons/weighing-scale.png') }}" alt=""
      width="72" height="57">
    <h2>Tracker Entry Journal</h2>
    <p class="lead">Track your progress by adding entries to your tracker journal by submitting this form.</p>
  </div>

  <div class="row">

    <!-- ENTRY HISTORY -->
    <div class="col-md-6 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span>
          <h4>Journal Entries</h4>
          </Journal>
        </span>
        <span class="badge badge-secondary badge-pill">{{ entries|length }}</span>
      </h4>
      {% if not entries %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">You do not have any journal entries yet.</h5>
          <p class="card-text">Let's start receording your progress by making an entry today!</p>
        </div>
      </div>
      {% else %}
      {% for entry in entries %}
      <a href="{{ url_for('entries.get_entry', entry_id=entry.id) }}" class="card-link">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ entry.date.date() }} - {{ entry.time_of_day|capitalize }}</h5>
            <p class="card-text">Weight: {{ entry.weight }}</p>
            <p class="card-text">Ketosis Level: {{ entry.keto }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
      {% endif %}
    </div>

    <!-- ENTRY FORM -->
    <div class="col-md-6 order-md-1">
      <h4 class="mb-3">Entry Form</h4>
      <form method="POST" action="{{ url_for('entries.entry_index') }}">
        {{ form.csrf_token }}
        <div class="form-group">
          <label for="{{ form.date.id }}" class="form-label">Date</label>
          {{ form.date(class="form-control form-control-lg") }}
        </div>
        {% for error in form.date.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.time_of_day.id }}" class="form-label">Time of Day</label>
          {{ form.time_of_day(class="form-control form-control-lg") }}
        </div>
        {% for error in form.time_of_day.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.mood.id }}" class="form-label">Mood</label>
          {{ form.mood(class="form-control form-control-lg") }}
        </div>
        {% for error in form.mood.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.status.id }}" class="form-label">Status</label>
          {{ form.status(class="form-control form-control-lg") }}
        </div>
        {% for error in form.status.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.weight.id }}" class="form-label">{{ form.weight.label }}</label>
          {{ form.weight(class="form-control form-control-lg") }}
        </div>
        {% for error in form.weight.errors %}
        <div class="alert alert-danger">
          WEIGHT {{ error }} {{ form.weight.data }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.measurement_waist.id }}" class="form-label">Waist Measurement</label>
          {{ form.measurement_waist(class="form-control form-control-lg") }}
        </div>
        {% for error in form.measurement_waist.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
          <label for="{{ form.keto.id }}" class="form-label">Ketosis Level</label>
          {{ form.keto(class="form-control form-control-lg") }}
        </div>
        {% for error in form.keto.errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endfor %}
        <div class="form-group">
          {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
        </div>
      </form>
    </div>
  </div>
</div>
<div><small>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small></div>
{% endblock %}
