{% extends 'layout.html' %}

{% block styles %}
<style>
  /* Style for active page */
  .nav-item.active {
    font-weight: bold;
  }

  .card {
    transition: background-image 0.5s ease;
  }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Fitness Tracker</h1>
    <p>Welcome to the super simple fitness tracker! This is intended more to be a simple journal tool for weight loss or
      other fitness/physical goals. It is still currently in development so there might still be some small bugs. Code
      for this application can be reviewed <a href="https://github.com/jtroussard/tracker-app">here</a>, contributions,
      and feedback greatly appreciated.</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/jtroussard/tracker-app" role="button" target="_blank">Learn more »</a></p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 d-flex justify-content-center">
    <div class="card greedy-card">
      <img class="card-img-top" src="{{ url_for('static', filename='img/healthy_breakfast-1.jpeg') }}"
        alt="Healthy breakfast">
      <div class="card-body">
        <h5 class="card-title">Receipe of the Week</h5>
        <p class="card-text">A new receipe link every week to give you inspritation in the kitchen as well as in the gym.
        </p>
        <a href="{{ url_for('main.receipe') }}" class="btn btn-primary">Weekly Receipe</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 d-flex justify-content-center">
    <div class="card greedy-card">

      {% set random_image_index = range(10)|random %}
      <img class="card-img-top" src="{{ url_for('static', filename='img/yoga-' ~ random_image_index ~ '.jpeg') }}"
        alt="Yoga outdoors">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Fitness Quote of the Day</h5>
        <p class="card-text">Daily quote to help gain some perspective on your journey.</p>
        <div class="mt-auto">
          <a href="{{ url_for('main.quote') }}" class="btn btn-primary mt-auto">Daily Quote</a>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4 d-flex justify-content-center">
    <div class="card greedy-card">
      <img class="card-img-top" src="{{ url_for('static', filename='img/discovery.jpeg') }}"
        alt="Lady stretching outdoors">
      <div class="card-body">
        <h5 class="card-title">What's new with Fitness Tracker?</h5>
        <p class="card-text">A sort of mini blog cataloging new features and other changes to the site.</p>
        <a href="{{ url_for('main.features') }}" class="btn btn-primary mt-auto">New Features</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}